/* LOADER ANIMATION */
@keyframes logoSlide{
    0% { transform: translateX(110px);}
    50% { transform: translateX(110px);}
    100% { transform: translateX(0px);} /* 6 seconds  stay to 10 seconds */
}

@keyframes hideshow {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 

@keyframes dropDown{
    0% { transform: translateY(-500px);}
    30% { transform: translateY(-500px);} 
    50% { transform: translateY(-0px);}
    100% { transform: translateY(-0px);}
}

@keyframes dropDown2{
    0% { transform: translateY(-500px);}
    30% { transform: translateY(-500px);}
    60% { transform: translateY(-0px);}
    100% { transform: translateY(-0px);}
}

@keyframes showName{
    0% { fill-opacity: 0;
            stroke-dashoffset: 150;
            stroke-width: 1;}
    30% { fill-opacity: 0;
            stroke-width: 1;}
    80% {stroke-dashoffset: 0;}
    100% { fill-opacity: 1;
            stroke-width: 0;}
}

@keyframes showTitle{
    0% { fill-opacity: 0;
            stroke-dashoffset: 150;
            stroke-width: 1;}
    30% { fill-opacity: 0;
            stroke-width: 1;}
    80% {stroke-dashoffset: 0;}
    100% { fill-opacity: 1;
            stroke-width: 0;}
}


.logo{
    animation: logoSlide 5s ease;
}

.grayK{
    animation: hideshow 3s ease;
    
}

.grayR{
    animation: hideshow 3s ease;
}

.name{
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: showName 3s 4s linear forwards;
    stroke: #000;
    fill-opacity: 0;
}

.title{
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: showTitle 3s 5s linear forwards;
    stroke: #000;
    fill-opacity: 0; 
}

.blueLine{
    animation: dropDown 4s ease;
}

.blueLine1{
    animation: dropDown2 4s ease;
}

#loader{
    position: fixed;
    width: 98%;
}

.opClass{
    opacity: 1;
}

.logoLoad{
    width: 100%;
}

/* SCROLL ANIMATION */
