:root{
    --background: #eeeeee;
    --primary: #111111;
    --secondary: #333333;
    --tertiary: #666666;

    --purple: #ac67d6;
    --pink: #ff5eae; 
    --red: #ff6f73; 
    --orange: #ff9f4c; 
    --yellow: #f4c430;
    --green: #8dd45a; 
    --teal: #05d093;
}

/******** Dark Mode Colors *******
    These colors get swapped with the root colors above on 'Dark mode'.

    --background: #111111;
    --primary: #eeeeee;
    --secondary: #cccccc;
    --tertiary: #999999;

    --purple: #a972cb;
    --pink: #ef6eae; 
    --red: #ff7f82; 
    --orange: #ffa260; 
    --yellow: #e4cb58;
    --green: #8fc866; 
    --teal: #19bc8b;
*****************************/

/**********************
* General Components *
***********************/

html{
    overflow-x: hidden;
    background-color: var(--background);
    height: 100%;
}

body{
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    padding: 3px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

h1{
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary);
}

h2{
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--secondary);
}

p{
    font-family: 'Poppins', arial;
    color: var(--secondary);
    font-weight: 300;
    font-size: .9rem;
}

i{
    font-size: 2rem;
    color: var(--primary);
    margin-left: 8px;
    margin-right: 8px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 10px;
}

/**********************
* Sitewide *
***********************/

.hide{
    display: none !important; 
}

.watermark1, .watermark2 {
    position: fixed;
    margin: 0em auto;
    font-weight: bolder;
    font-family: Josefin Sans;
    opacity: 0.06;
    z-index: -1000;
    color: var(--primary);
    cursor: default;
}

.watermark1{
    font-size: 10rem;
    top: 0;
    left: -1.5em;
}

.watermark2{
    font-size: 27rem;
    overflow: hidden;
    bottom: -0.25em;
    right: -1em;
}

#footer > p {
    margin: 0;
    color: var(--secondary);
}

/**********************
* Navigation *
***********************/

#moon, #sun{
    color: var(--primary);
    margin-left: auto;
    cursor: pointer;
}

#r-logo, #moon, #sun{
    width: 35px;
}

.nav-link{
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 4px;
    cursor: pointer;
    color: var(--primary);
}

.current{
    background-color: var(--primary);
    color: var(--background);
}

#h-line{
    width: 100%;
    background-color: var(--secondary);
    height: 1px;
}

#white-box{
    display: none;
}
/**********************
* Section - Home *
***********************/

.home{
    text-align: center;
}

#name{
    margin-bottom: .8rem;
}

#title{
    margin-top: .3rem;
}

.icons{
    margin: auto;
}

.icons > a{
    text-decoration: none;
}
  
.label{
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin-top: 5px;
    display: none;
}

/**********************
* Section - About *
***********************/

.about{
    width: 95%;
    text-indent: 10%;
    margin-left: 1rem;
    margin-top: 3rem;
}

/**********************
* Section - Projects *
***********************/

.flexbox{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 12rem;
  }
  
.project-tile{
    margin: 1rem 0rem;
    box-shadow: 5px 5px 0px 2px var(--tertiary);
    padding: 0rem .5rem;
    border: solid var(--tertiary);
    display: flex;
    flex-wrap: wrap;
    transition: all 0.7s;
}

.project-tile:hover, .project-tile:active{
    box-shadow: none;
    opacity: 1;
    border: solid var(--secondary) 1px;
}
  
.project-title{
    width: 50%;
    margin: auto;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
}

.project-title > i {
    font-size: inherit;
    color: var(--primary);
    cursor: pointer;
}

.project-link{
    color: var(--primary);
}

.filter{
    display: flex;
}

.filter-title{
    margin: auto 0 auto 1em;
    font-size: 1em;
    color: var(--secondary);
    font-weight: 400;
}

#filter-list{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-left: 1em;
}

.filter-item{
    margin-right: 1rem;
    padding: 7px 7px 4px 7px;
    cursor: pointer;
    transition: all 0.3s;
}

#inner-list{
    list-style: none;
    text-decoration: none;
    width: 50%;
    padding-left: 0px;
    text-align: right;
    color: var(--background);
    margin: .5rem 0rem;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.inner-item{
    float: right;
    margin-right: 1rem;
    padding: 7px 7px 4px 7px;
}

#link-list{
    margin: 0;
    list-style: none;
    padding: 0;
}

    /**********************
    * Filter Tabs *
    ***********************/

        #html{
            color: var(--purple);
            border: solid 2px var(--purple);
        }

        #html.pressed, #html.inner-item{
            color: var(--background);
            background-color: var(--purple);
        }

        #css{
            color: var(--pink);
            border: solid 2px var(--pink);
        }

        #css.pressed, #css.inner-item{
            color: var(--background);
            background: var(--pink);
        }

        #js{
            color: var(--red);
            border: solid 2px var(--red);
        }

        #js.pressed, #js.inner-item{
            color: var(--background);
            background-color: var(--red);
        }

        #java{
            color: var(--orange);
            border: solid 2px var(--orange);
        }

        #java.pressed, #java.inner-item{
            color: var(--background);
            background-color: var(--orange);
        }

        #uiux{
            color: var(--yellow);
            border: solid 2px var(--yellow);
        }

        #uiux.pressed, #uiux.inner-item{
            color: var(--background);
            background-color: var(--yellow);
        }

        #adobe{
            color: var(--green);
            border: solid 2px var(--green);
        }

        #adobe.pressed, #adobe.inner-item{
            color: var(--background);
            background-color: var(--green);
        }

/**********************
*  Section - Links  *
***********************/

.link-tile{
    width: 50%;
    margin: 1rem auto;
    box-shadow: 5px 5px 0px 2px var(--tertiary);
    padding: 0.5rem 0.5rem;
    border: solid var(--tertiary);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.5s;
}

.link-tile:hover, .link-tile:active {
    box-shadow: none;
    border: solid var(--primary) 1px;
}


.link-link{
    text-decoration: none;
    color: var(--background);
}


.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.link-title{
    font-size: 2rem;
    margin: auto 0;
    font-weight: 500;
    color: var(--primary);
}

.link-title > i{
    font-size: inherit;
    color: var(--primary);
}

/**********************
* Mobile Styling *
***********************/

/*
@media screen and (max-height: 1000px) and (min-height: 901px){
    .flexbox{
        height: 48rem;
    }
}

@media screen and (max-height: 900px ) and (min-height: 801px){
    .flexbox{
        height: 42rem;
    }
}

@media screen and (max-height: 800px) and (min-height: 701px){
    .flexbox{
        height: 36rem;
    }
}

@media screen and (max-height: 700px ) and (min-height: 601px){
    .flexbox{
        height: 30rem;
    }
}

@media screen and (max-height: 600px ) and (min-height: 501px){
    .flexbox{
        height: 24rem;
    }
}

@media screen and (max-height: 500px ) and (min-height: 401px){
    .flexbox{
        height: 18rem;
    }
}
*/

@media screen and (max-width: 660px) {
    .watermark1, .watermark2{
        opacity: 0.04;
    }
    .watermark1{
        bottom: 0;
        top: revert;
        z-index: 2;
    }
    .watermark2{
        left: 1.5rem;
        right: 0;
        font-size: 22rem;
        top: -3.75rem;
    }
    .nav-link{
        margin-right: 0.3rem;
        font-size: 1.0rem;
        padding: 3px;
    }
    nav{
        margin-right: 0;
        bottom: 0;
        position: fixed;
        width: 100%;
        padding: 0px;
        margin: 3px;
        z-index: 2;
    }

    #sun,#moon{
        margin: 0 1rem 0 auto;
    }

    #h-line{
        bottom: 4rem;
        position: fixed;
        z-index: 2;
    }

    .home{
        margin-top: 50%;
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    #description{
        margin-top: 50%;
    }

    #white-box{
        background-color: var(--background);
        width: 100%;
        height: 10.5rem;
        position: fixed;
        bottom: 0;
        z-index: 1;
        box-shadow: 0px 2px 14px 3px var(--tertiary);
        display: block;
    }

    .filter-item{
        margin: 0.25rem;
    }

    #filter-list{
        flex-wrap: wrap;
        justify-content: space-around;
        bottom: 3.5rem;
        width: 100%;
        margin-left: 0;
        z-index: 2;
        position: fixed;
    }

    .container{
        overflow-y: scroll;
    }

    /*.flexbox{
        overflow: scroll;
    }*/

    .project-tile{
        margin: 0.5rem;
    }

    .project-title{
        width: 100%;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    #inner-list{
        width: 100%;
        margin: 0.5rem 0;
        justify-content: center;
    }

    .links{
        bottom: 4.5rem;
        position: absolute;
        width: 100%;
    }

    .link-tile{
        width: 75%;
        transition: all 0.5s;
    }
    .link-title{
        font-size: 1.5rem;
    }

    footer{
        top: 0;
        right: 0;
        left: revert;
        bottom: revert;
        text-align: right;
        padding: 10px 10px 0 0;
    }
}