@keyframes darkmode{
    0% {
        transform: scale(1.0);
        transform: rotate(0deg);
        -webkit-transform: scale(1.0);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: scale(.75);
        transform: rotate(90deg);
        -webkit-transform: scale(.75);
        -webkit-transform: rotate(90deg);
    }

}

:root{
    --background: #fdfdfd;
    --nav: rgba(253, 253, 253, .8);

    --primary: #111111;
    --secondary: #595959;
    --tertiary: #dedede;

    --purple: #ac67d6;
    --pink: #ff5eae; 
    --red: #ff6f73; 
    --orange: #ff9f4c; 
    --yellow: #f4c430;
    --green: #8dd45a; 
    --teal: #05d093;

    --blue: #2E719F;
}

.dark{
    --background: #111111;
    --nav: rgba(17, 17, 17, .8);

    --primary: #fdfdfd;
    --secondary: #a6a6a6;
    --tertiary: #6c6c6c;

    --purple: #a972cb;
    --pink: #ef6eae; 
    --red: #ff7f82; 
    --orange: #ffa260; 
    --yellow: #e4cb58;
    --green: #8fc866; 
    --teal: #19bc8b;

    --blue: #3582B7;
}

*{
    transition: all 0.5s ;
    -webkit-transition: all 0.3s;
}

html{
    overflow-x: hidden;
    background-color: var(--background);
    font-size: 100%;
    line-height: 1.75;
    font-family: 'Nunito', monospace;
    font-weight: 300;
    scroll-behavior: smooth;
}

.watermark1, .watermark2 {
    position: fixed;
    margin: 0em auto;
    font-weight: bolder;
    font-family: Josefin Sans;
    opacity: 0.03;
    z-index: -1000;
    color: var(--primary);
    cursor: default;
}

.watermark1{
    font-size: 10rem;
    bottom: -0.5em;
    right: -1em;

}

.watermark2{
    font-size: 27rem;
    overflow: hidden;
    top: -0.1em;
    left: -1.8em;
}

#body{
    max-width: 40em;
    width: 100%;
    margin: auto;
    color: var(--primary);
}

.topnav{
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1.1em;
    padding: 1em 0em;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--nav);
    z-index: 1000;
}

.topnav > a{
    cursor: pointer;
    margin-right: 2em;
}

.topnav > a:hover{
    color: var(--tertiary);
}

#home{
    cursor: pointer;
}

#r-logo{
    width: 35px;
    padding-top: 10px;
    cursor: pointer;
}

.dark-toggle{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 1s;
}

.sun{
    color: var(--primary);
    fill: var(--primary);
    transform-origin: center;
    transform-box: fill-box;
}

.moon{
    color: var(--primary);
    fill: var(--primary);
    transform-origin: center;
    transform-box: fill-box;
}

svg{
    position: relative;
}

.hide{
    opacity: 0;
    transform: rotate(-90deg);
    transition: all 2s;
    z-index: -1;
    visibility: hidden;
}

#experience-nav{
    margin-left: auto;
}

h1{
    font-size: 2em;
    font-weight: 700;
}

h2{
    font-size: 1.5em;
    font-weight: 700;
}

h3{
    font-size: 1.15em;
    font-weight: 500;
    margin: 0;
}

section{
    margin-top: 3em;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    border-bottom: var(--tertiary) 2px solid;
    margin-top: 2rem;
}

.about-link{
    font-weight: 400;
    color: var(--primary);
    background-color: var(--tertiary);
    padding: 10px;
    margin-right: 4px;
    text-decoration: none;
    transition: all 0.5s;
}

.about-link:hover, .exp-link:hover, .project-link:hover{
    background-color: var(--blue);
    color: var(--background);
}

.exp-job{
    display: flex;
    color: var(--secondary);
}

.exp-site{
    margin-left: auto;
}

.exp-details > p{
    margin: 0;
}

.exp-link, .project-link{
    font-weight: 400;
    color: var(--primary);
    padding: 0 5px;
    background-color: var(--tertiary);
    text-decoration: none;
    transition: all 0.5s; 
    cursor: pointer;
    margin-left: 5px;
}

.project-container{
    display: flex;   
    justify-content: space-between;
}

.project-title > span{
    color: var(--secondary);
    font-style: italic;
}

.project-code{
    margin: auto 0;
    display: flex;
}

.project-icon{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    z-index: 1;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

#footer > p {
    margin: 0;
    color: var(--secondary);
}

@media screen and (max-width: 1075px) {
    #body{
        width: 95%;
    }

    .watermark2{
        display: none;
    }
    #about-links{
        display: flex;
        justify-content: space-around;
    }

    footer{
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    html{
        font-size: 95%;
    }

    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.15em;
    }
    
    h3{
        font-size: 1em;
    }

    .topnav > a{
        margin-right: 1em;
    }

    .project-title{
        width: 60%;
    }

    .project-code{
        flex-direction: column;
        gap: 0.25rem;
    }

    .project-link{
        text-align: center;
    }

    .project-icon{
        height: 0.9rem;
        width: 0.9rem;
    }

}